SECRET_KEY=terra
OPENAI_API_KEY=
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=expense_management
LOG_TO_STDOUT=true
ENABLE_AI=true
BATCH_SIZE=20

FLASK_RUN_HOST=127.0.0.1
FLASK_RUN_PORT=8000

API_BASE_URL=http://localhost:8000/api
FRONTEND_ORIGIN=http://localhost:5173
ALLOWED_ORIGINS=http://localhost:5173


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=