@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-size: 14px; /* Default is 16px, this reduces all rem-based sizes */
}

body {
  transform: scale(0.95);
  font-family: 'IBM Plex Sans', sans-serif;
  transform-origin: top center;
}